<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
        <commands>
            <command name="imager:save" type="Sitecore.Support.Shell.Framework.Commands.Imager.Save,Sitecore.Support.353856" patch:instead="*[@type='Sitecore.Shell.Framework.Commands.Imager.Save,Sitecore.Kernel']" />
            <command name="webdav:compositeedit" type="Sitecore.Support.Shell.Framework.Commands.WebDAV.CompositeEdit,Sitecore.Support.353856" patch:instead="*[@type='Sitecore.Shell.Framework.Commands.WebDAV.CompositeEdit,Sitecore.Kernel']"/>
        </commands>
    </sitecore>
</configuration>

